/* Regole globali */

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }
  body{
    max-width: 1400px;
  }
 
  main{
    width: 100%;
  }

  main aside{
    width: 90vw;
    margin: 0 auto;
  }

  .my-max-height {
    max-height: 65vh; 
    overflow:auto;
   }
  
  @media screen and (min-width: 780px) {
    main{
      width: 50%;
    }
    main aside{
      width: 50%;
    }
    
  }

  
  